.about{
	background: #373030;
	color:white;
}
.text{
	width:80%;
	margin: 0 auto;
}
.bbo{
	background:  #B6E0EB;
}
.container .qq{
	width:50%;
}
.rr{
	border-left: 1px solid white;
}
.ff{
	 background:#5F9DF2;
	width: 175%;
}